# backend/.env
DATABASE_URL=postgresql://postgres:SENHA@autorack.proxy.rlwy.net:31563/railway
PORT=3001
NODE_ENV=development
JWT_SECRET=troque-este-segredo-por-algo-aleatorio-longo

# Seed (opcional — valores padrão se não definir)
ADMIN_NAME=Administrador CTG
ADMIN_EMAIL=admin@ctgbrasil.com
ADMIN_PASS=ctg@2026

# frontend/.env
VITE_API_URL=http://localhost:3001/api
